<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>ASIGNAR BIEN MUEBLE</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="closeModal()">
        <ion-icon name="close"></ion-icon>Cancelar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- BUSCAR USUARIO A VINCULAR -->
    <ion-item>
      <div class="user-container">
        <ion-label>usuario nuevo a vincular:</ion-label>
        <div class="user-info">
          <ion-text *ngIf="isUserSelected">
            {{ selectedUser.name }} {{ selectedUser.lastname }}
          </ion-text>
          <ion-button
            id="modal-usuarios"
            *ngIf="!isUserSelected"
            class="btnModalUser"
            size="small"
            mode="ios"
            fill="outline"
          >
            Buscar usuario
            <ion-icon slot="end" name="person"></ion-icon>
          </ion-button>
          <ion-button
            id="modal-usuarios"
            color="warning"
            *ngIf="isUserSelected"
            size="small"
            mode="ios"
            fill="outline"
          >
            Cambiar usuario
            <ion-icon slot="end" name="person"></ion-icon>
          </ion-button>
        </div>
        <ion-modal
          #modal
          trigger="modal-usuarios"
          [initialBreakpoint]="0.25"
          [breakpoints]="[0.25, 0.5, 0.75]"
          [backdropBreakpoint]="0.5"
        >
          <ng-template>
            <ion-content>
              <ion-searchbar
                placeholder="Buscar usuario"
                (ionInput)="filterUsers($event)"
                (click)="modal.setCurrentBreakpoint(0.75)"
              ></ion-searchbar>
              <ion-list>
                <ion-item
                  style="cursor: pointer"
                  *ngFor="let user of filteredUsers"
                  (click)="selectUser(user)"
                >
                  <ion-avatar slot="start">
                    <ion-img src="assets/img/userAvatar.png"></ion-img>
                  </ion-avatar>
                  <ion-label>
                    <h2>{{ user.name }} {{ user.lastname }}</h2>
                    <p>{{ user.email }}</p>
                    <ion-chip color="primary">{{
                      user.secretariaName
                    }}</ion-chip>
                    <ion-chip color="tertiary">{{
                      user.direccionName
                    }}</ion-chip>
                    <ion-chip color="success">{{ user.job }}</ion-chip>
                  </ion-label>
                </ion-item>
              </ion-list>
              <div *ngIf="filteredUsers!.length <= 0" class="ion-padding">
                <ion-note color="danger">Usuario no encontrado</ion-note>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>
      </div>
    </ion-item>

    <!-- EQUIPO VINCULADO A UN USUARIO -->
    <ion-item>
      <ion-label position="stacked">Mueble vinculado a:</ion-label>
      <ion-text>{{ ownerDevice.name }} {{ ownerDevice.lastname }}</ion-text>
    </ion-item>

    <!-- DESCRIPCION Y MARCA-->
    <ion-item>
      <ion-label position="stacked">Descripción del mueble:</ion-label>
      <ion-text>{{ furniture.descriptionBrand }}</ion-text>
    </ion-item>

    <!-- COLOR -->
    <ion-item>
      <ion-label position="stacked">Color:</ion-label>
      <ion-text>{{ furniture.color }}</ion-text>
    </ion-item>

    <!-- NUMERO DE SERIE -->
    <ion-item>
      <ion-label position="stacked">Número de serie:</ion-label>
      <ion-text>{{ furniture.serialNumber }}</ion-text>
    </ion-item>

    <!-- ESTADO ACTUAL -->
    <ion-item>
      <ion-label position="stacked">Estado actual:</ion-label>
      <ion-text>{{ furniture.actualState }}</ion-text>
    </ion-item>

    <!-- OBSERVACIONES -->
    <ion-item>
      <ion-label position="stacked">Observaciones:</ion-label>
      <ion-text>{{ furniture.observations }}</ion-text>
    </ion-item>

    <!-- FOTOS DEL EQUIPO -->
    <swiper-container
      class="mySwiper"
      pagination="true"
      grab-cursor="true"
      pagination-clickable="true"
    >
      <ng-container>
        <swiper-slide *ngFor="let fotos of furniture.photos">
          <ion-col *ngIf="furniture.photos.length >= 1" size="12" sizeMd="4">
            <ion-item>
              <ion-img
                [src]="apiUrl + '/img/MovableProperty/' + fotos"
                [alt]="fotos"
              ></ion-img>
            </ion-item>
          </ion-col>
        </swiper-slide>
      </ng-container>
    </swiper-container>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border button-container">
  <div class="tooltip-container" [class.disabled]="selectedUser === undefined">
    <ion-button
      (click)="changeOwner(furniture._id)"
      shape="round"
      [disabled]="selectedUser === undefined"
      >Asignar bien mueble</ion-button
    >
    <div class="tooltip" *ngIf="selectedUser === undefined">
      No se ha seleccionado un usuario
    </div>
  </div>
</ion-footer>
